- content_for :head do
  title = @user.title

- comments = data.comments.select{|x| x.user_id == @user.id}

h1 = @user.title
    
pre list articles that #{@user.name} has commented on
            
    