<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>policy-auction Tapestry 5 Application</display-name>
    <context-param>
        <!-- The only significant configuration for Tapestry 5, this informs Tapestry
of where to look for pages, components and mixins. -->
        <param-name>tapestry.app-package</param-name>
        <param-value>net.retakethe.policyauction</param-value>
    </context-param>

    <context-param>
        <!-- Value as obtained from Amazon Web Services account page -->
        <param-name>net.retakethe.policyauction.services.impl.EmailSenderImpl.aws-accessKey</param-name>
        <param-value>DUMMY_PLACEHOLDER_VALUE</param-value>
    </context-param>
    <context-param>
        <!-- Value as obtained from Amazon Web Services account page -->
        <param-name>net.retakethe.policyauction.services.impl.EmailSenderImpl.aws-secretKey</param-name>
        <param-value>DUMMY_PLACEHOLDER_VALUE</param-value>
    </context-param>
    <context-param>
        <!-- Must be validated as a sender address with Amazon SES -->
        <param-name>net.retakethe.policyauction.services.impl.EmailSenderImpl.sender-email-address</param-name>
        <param-value>DUMMY_PLACEHOLDER_VALUE</param-value>
    </context-param>
    <context-param>
        <!-- Comma-separated 'host:port,host:port' or just 'host,host' -->
        <param-name>net.retakethe.policyauction.data.impl.manager.DAOManagerImpl.cassandra-hosts</param-name>
        <param-value>localhost:9160</param-value>
    </context-param>
    <context-param>
        <!-- As in Cassandra passwd.properties -->
        <param-name>net.retakethe.policyauction.data.impl.manager.DAOManagerImpl.cassandra-username</param-name>
        <param-value>webapp</param-value>
    </context-param>
    <context-param>
        <!-- As in Cassandra passwd.properties -->
        <param-name>net.retakethe.policyauction.data.impl.manager.DAOManagerImpl.cassandra-password</param-name>
        <param-value>j253tDL3OA61zq</param-value>
    </context-param>

    <filter>
        <filter-name>app</filter-name>
        <filter-class>org.apache.tapestry5.TapestryFilter</filter-class>
    </filter>
    
         
    <filter-mapping>
      <filter-name>WebResourceOptimizer</filter-name>
      <url-pattern>/min/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>app</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
	  <filter-name>WebResourceOptimizer</filter-name>
	  <filter-class>
	    ro.isdc.wro.http.WroFilter
	  </filter-class>
	  <init-param>
      <param-name>configuration</param-name>
      <param-value>DEPLOYMENT</param-value>
    </init-param>
    <init-param>
      <param-name>managerFactoryClassName</param-name>
      <param-value>ro.isdc.wro.extensions.manager.ExtensionsConfigurableWroManagerFactory</param-value>
    </init-param>
    <init-param>
      <param-name>uriLocators</param-name>
      <param-value>servletContext,classpath,url</param-value>
    </init-param>
    <init-param>
      <param-name>preProcessors</param-name>
      <param-value>cssUrlRewriting,cssImport,bomStripper,semicolonAppender,sassCss</param-value>
    </init-param>
    <init-param>
      <param-name>postProcessors</param-name>
      <param-value>cssVariables,cssMinJawr,jsMin</param-value>
    </init-param>
	</filter>

</web-app>
      
